@media only screen and (min-width: 1100px){

.titlee0{
    display: flex;
    flex-wrap: wrap;
    
   
    position: relative;
    background-size: cover;
    
   
    float: left;
   
   
   
    
    overflow: hidden;
    
    
}

.carousel-container {
   
    display: flex;

   
    width: 46em;
    
    
   
    
  
    
}

.carousel-container.animated {
    transition: 0.5s ease-out;
}

.carousel-container img {
    
    height: 330px;
 
  
    
   
    


}

.carousel-img3 {
   
    background-size: cover;
}


.carousel-text {
    height: 50px;
    inline-size: 56%;
    width: 270px;
    transform: translateY(-120px);
    margin-left: 2em;
}
.carousel-title {
    font-weight: bold;
    font-size: 28px;
    

}

.carousel-allow button{
    
    
    cursor: pointer;
    font-size: 12px;
    height: 2.2em;
    font-style: rgb(244, 244, 244);
    border-radius: 50%;
    
    margin-left: 10px;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
 
    transform: translateX(52em) translateY(-12em);
    cursor: pointer;

}

button {
    cursor: pointer;

}

.swipe {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 30px;
    padding: 2px 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    max-width: 15px;
    
    transform: translateX(47.5em) translateY(-9.7em);
    color: rgba(255, 255, 255, 0.7);

}

.carousel-allow {
    display: inline;
}

}

@media only screen and (max-width: 1100px){

    .titlee0{
        display: flex;
        flex-wrap: wrap;
       
       
        position: relative;
        background-size: cover;
        
       
        float: left;
        margin-top: 20px;
       
       
        
        overflow: hidden;
        
        
    }
    
    .carousel-container {
       
        display: flex;
        position: relative;
        
        overflow: hidden;
    
          
    }
    
    .carousel-container.animated {
        transition: 0.5s ease-out;
    }
    
    .carousel-container img {
       
        height: 400px;
       
     
      
        
       
        
    
    
    }
    
    .carousel-img3 {
       
        background-size: cover;
    }
    
    
    .carousel-text {
        height: 50px;
        inline-size: 56%;
        width: 270px;
        transform: translateY(-150px);
        
        margin-left: 2em;
    }
    .carousel-title {
        font-weight: bold;
        font-size: 28px;
        
    
    }
    .carousel-allow {
        margin-left: 200px;
        
    }
    
    .carousel-allow button{
        
        
        cursor: pointer;
        font-size: 12px;
        height: 2.2em;
        font-style: rgb(244, 244, 244);
        border-radius: 50%;
        
        margin-left: 10px;
        width: 32px;
        height: 32px;
        padding: 0px;
        border: none;
        background: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 0.7);
        
     
        transform: translateX(52em) translateY(-13em);
        cursor: pointer;
    
    }
    
    button {
        cursor: pointer;
    
    }
    
    .swipe {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        min-width: 30px;
        padding: 2px 10px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 40px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        max-width: 15px;
        
        transform: translateX(47.5em) translateY(-10.7em);
        color: rgba(255, 255, 255, 0.7);
    
    }
    
    }


    .carousel-allow button:hover {
        background-color: #2E2E2E;
        transition: 0.5s ease-out;
    }